<div id="posts">
  <div>
      <h2>Welcome to My Little Corner On the Internet!</h2>
  </div>
  </div>

<div id="portfolio">
  <div>
      <h2>Under Construction</h2>
  </div>
  </div>

 <div id="about">
   <h2>Find out more about me</h2>
  <div id="icons">
    <div class="ic">
     <ul>
     <li><a href="https://github.com/halalgami" title="AlgamsGitHubPage" ><img src="/assets/octocat.jpg" class="img_ic" alt="halalgami github link"></a></li>
     <li><a href="#" title="Biography"><img src="/assets/me_freddie.jpg" class="img_ic" alt="halalgami github link"></a></li>
     </ul>
    </div>
  </div>
  </div>
