<div class="hero-unit">
<h1>Welcome to Algams Web Service portal</h1>
<p></p>
  <p> Here you can view all the data models and hopefully browse through the list of available APIs  
  </p>
  <p>
    <%= link_to "Sign up now !", signup_path, class: 'btn btn-primary btn-large' %>
</div>
