<header id="header">
<div id="logo">Algam's Little Corner</div>
<nav id="naval">
  <ul>
  <li><a href=<%= root_path %>#posts title="My Posts" >Posts</a></li>
  <li><a href=<%= root_path %>#portfolio title="Product Portfolio">Portfolio</a></li>
  <li><a href=<%= root_path %>#about title="About Algam">About Algam</a></li>
  </ul>
</nav>
</header>
      <div class="row-fluid">

        <div id="posts">
          <p><h1>Apologies ...</h1></p>
          <p><h2>The page you are looking for is not available</h2></p>
        </div>


      </div><!--/row-->

      <footer id="copyright">
        <p>&copy; AlgamNet 2014</p>
      </footer>
